*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #2A2A2A;
  text-decoration: none;
}

body {
  width: 100vw;
  font-family: Manrope, sans-serif;
  font-size: 0.833333333vw;
  color: #2A2A2A;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page__wrapper {
  min-height: 100%;
  position: relative;
}

.wrapper {
  margin-right: 7.1875vw;
}

.top-header {
  display: flex;
  padding: 1.1458vw 0;
  border-bottom: 1px solid rgba(42, 42, 42, 0.15);
  background-color: #fff;
}
.top-header__description, .top-header__logo, .top-header__adresse, .top-header__watch-on-map, .top-header__calculator, .top-header__social-links, .top-header__contacts {
  display: flex;
  align-items: center;
}
.top-header__adresse, .top-header__watch-on-map, .top-header__calculator, .top-header__social-links {
  align-items: center;
}
.top-header__logo {
  margin-right: 1.197916667vw;
}
.top-header__description {
  max-width: 7.395vw;
  font-weight: 400;
  font-size: 0.572916667vw;
  line-height: 1.041666667vw;
  letter-spacing: 0.02em;
  text-align: left;
  margin-right: 2.96875vw;
}
.top-header__adresse {
  font-weight: 400;
  font-size: 0.572916667vw;
  line-height: 0.9375vw;
  margin-right: 2.96875vw;
}
.top-header__adresse-text {
  max-width: 8.177vw;
  text-align: left;
}
.top-header__watch-on-map {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.572916667vw;
  line-height: 0.78125vw;
  letter-spacing: 0.05em;
  margin-right: 2.96875vw;
}
.top-header__watch-on-map .map-modal {
  opacity: 0;
  position: absolute;
  width: 26.041666667vw;
  height: 20.833333333vw;
  background-color: #fff;
  box-shadow: 3px 0 13px rgba(211, 211, 211, 0.11);
  top: 100%;
  left: 50%;
  transition: all 0.4s;
  z-index: 57;
}
.top-header__watch-on-map-icon {
  transform: translateY(4px);
}
.top-header__watch-on-map-text {
  position: relative;
  max-width: 6.25vw;
  text-align: left;
}
.top-header__calculator {
  cursor: pointer;
  position: relative;
  font-weight: 700;
  font-size: 0.572916667vw;
  line-height: 0.989583333vw;
  letter-spacing: 0.05em;
  margin-right: 2.96875vw;
}
.top-header__calculator-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.822916667vw;
  height: 1.822916667vw;
  background: #F8F8F8;
  border-radius: 500px;
}
.top-header__calculator-text {
  transform: translateY(-2px);
  max-width: 7.656vw;
  text-align: left;
}
.top-header__calculator-text:hover .bottom-dots-actions::after {
  width: 60%;
}
.top-header__calculator-text p {
  position: relative;
}
.top-header__calculator-text p:last-child {
  width: -moz-fit-content;
  width: fit-content;
}
.top-header__social-links {
  font-weight: 400;
  font-size: 0.572916667vw;
  line-height: 0.9375vw;
  letter-spacing: 0.03em;
  margin-right: 2.96875vw;
}
.top-header__social-links-text {
  max-width: 5.52vw;
  text-align: left;
  margin-right: 0.9375vw;
}
.top-header__social-links-messagers {
  display: flex;
}
.top-header__social-links-whatsup, .top-header__social-links-telegram, .top-header__social-links-viber {
  width: 1.822916667vw;
  height: 1.822916667vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
}
.top-header__social-links-whatsup {
  background: #20C863;
}
.top-header__social-links-telegram {
  background: #2FB3F3;
}
.top-header__social-links-viber {
  background: #776EE9;
}
.top-header__contacts {
  flex-direction: column;
  justify-content: center;
}
.top-header__contacts-work-hours {
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.520833333vw;
  letter-spacing: 0.02em;
}
.top-header__contacts-telephone-for-call {
  display: flex;
  font-weight: 700;
  font-size: 1.041666667vw;
  line-height: 1.261vw;
}
.top-header__contacts-call-request {
  position: relative;
  display: flex;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.720833333vw;
  letter-spacing: 0.05em;
}
.top-header .bottom-dots-actions::after {
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 0.104166667vw dotted #FD2016;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  position: absolute;
  left: 0;
  bottom: -0.1vw;
}
.top-header .bottom-dots-actions:hover::after {
  width: 60%;
}

.active {
  transform: translateX(-50%);
  opacity: 1 !important;
  pointer-events: auto;
}

.pointer {
  cursor: pointer;
}

.mb-6 {
  margin-bottom: 0.3125vw;
}

.mr-4 {
  margin-right: 0.208333333vw;
}

.mr-6 {
  margin-right: 0.3125vw;
}

.mr-10 {
  margin-right: 0.520833333vw;
}

.flex {
  display: flex;
}/*# sourceMappingURL=style.css.map */