*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #2A2A2A;
  text-decoration: none;
}

body {
  width: 100vw;
  font-family: Manrope, sans-serif;
  font-size: 0.833333333vw;
  color: #2A2A2A;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page__wrapper {
  min-height: 100%;
  position: relative;
}

.wrapper {
  margin-right: 7.1875vw;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 1.1458vw 0;
  border-bottom: 0.052083333vw solid rgba(42, 42, 42, 0.15);
  background-color: #fff;
}
.header-top__description, .header-top__logo, .header-top__adresse, .header-top__watch-on-map, .header-top__calculator, .header-top__social-links, .header-top__contacts {
  display: flex;
  align-items: center;
}
.header-top__adresse, .header-top__watch-on-map, .header-top__calculator, .header-top__social-links {
  align-items: center;
}
.header-top__logo {
  width: 11.09375vw;
  height: 2.604166667vw;
  margin-right: 1.197916667vw;
}
.header-top__logo img {
  width: 100%;
  height: 100%;
}
.header-top__description {
  max-width: 7.395vw;
  font-weight: 400;
  font-size: 0.572916667vw;
  line-height: 1.041666667vw;
  letter-spacing: 0.02em;
  text-align: left;
  margin-right: 2.96875vw;
}
.header-top__adresse {
  font-weight: 400;
  font-size: 0.572916667vw;
  line-height: 0.9375vw;
  margin-right: 2.96875vw;
}
.header-top__adresse-icon {
  width: 1.822916667vw;
  height: 1.822916667vw;
}
.header-top__adresse-icon img {
  width: 100%;
  height: 100%;
}
.header-top__adresse-text {
  max-width: 8.177vw;
  text-align: left;
}
.header-top__watch-on-map {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.572916667vw;
  line-height: 0.88125vw;
  letter-spacing: 0.05em;
  margin-right: 2.96875vw;
}
.header-top__watch-on-map-icon img {
  width: 0.625vw;
  height: 0.78125vw;
}
.header-top__watch-on-map .map-modal {
  display: none;
  opacity: 0;
  position: absolute;
  width: 26.041666667vw;
  height: 20.833333333vw;
  background-color: #fff;
  box-shadow: 3px 0 13px rgba(211, 211, 211, 0.11);
  top: 68%;
  left: -112%;
  transition: all 0.4s;
  z-index: 57;
}
.header-top__watch-on-map-icon {
  transform: translateY(4px);
}
.header-top__watch-on-map-text {
  display: block;
  position: relative;
  max-width: 6.25vw;
  text-align: left;
}
.header-top__calculator {
  cursor: pointer;
  position: relative;
  font-weight: 700;
  font-size: 0.572916667vw;
  line-height: 0.989583333vw;
  letter-spacing: 0.05em;
  margin-right: 2.96875vw;
}
.header-top__calculator-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.822916667vw;
  height: 1.822916667vw;
  background: #F8F8F8;
  border-radius: 500px;
}
.header-top__calculator-icon img {
  width: 0.78125vw;
  height: 0.78125vw;
}
.header-top__calculator-text {
  transform: translateY(-2px);
  max-width: 7.656vw;
  text-align: left;
}
.header-top__calculator-text:hover .bottom-dots-actions::after {
  width: 60%;
}
.header-top__calculator-text p {
  position: relative;
}
.header-top__calculator-text p:last-child {
  width: -moz-fit-content;
  width: fit-content;
}
.header-top__social-links {
  font-weight: 400;
  font-size: 0.572916667vw;
  line-height: 0.9375vw;
  letter-spacing: 0.03em;
  margin-right: 2.96875vw;
}
.header-top__social-links-text {
  max-width: 5.52vw;
  text-align: left;
  margin-right: 0.9375vw;
}
.header-top__social-links-messagers {
  display: flex;
}
.header-top__social-links-whatsup, .header-top__social-links-telegram, .header-top__social-links-viber {
  width: 1.822916667vw;
  height: 1.822916667vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
}
.header-top__social-links-whatsup img, .header-top__social-links-telegram img, .header-top__social-links-viber img {
  width: 44%;
  height: 44%;
}
.header-top__social-links-whatsup {
  background: #20C863;
}
.header-top__social-links-telegram {
  background: #2FB3F3;
}
.header-top__social-links-viber {
  background: #776EE9;
}
.header-top__contacts {
  flex-direction: column;
  justify-content: center;
}
.header-top__contacts-work-hours {
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.520833333vw;
  letter-spacing: 0.02em;
}
.header-top__contacts-telephone-for-call {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.041666667vw;
  line-height: 1.261vw;
  transition: 0.3s;
}
.header-top__contacts-telephone-for-call img {
  width: 0.46875vw;
  height: 0.260416667vw;
}
.header-top__contacts-telephone-for-call:hover {
  color: #d91967;
}
.header-top__contacts-call-request {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.720833333vw;
  letter-spacing: 0.05em;
}
.header-top__contacts-call-request img {
  width: 0.3125vw;
  height: 0.3125vw;
}
.header-top .bottom-dots-actions::after {
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 0.104166667vw dotted #FD2016;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  position: absolute;
  left: 0;
  bottom: -0.1vw;
}
.header-top .bottom-dots-actions:hover::after {
  width: 60%;
}

.header-nav {
  height: 3.3333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav .nav-item {
  font-weight: 600;
  font-size: 0.625vw;
  line-height: 0.833333333vw;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  transition: 0.3s;
  color: #2A2A2A;
}
.header-nav .nav-item:hover {
  color: #d91967;
}

.main-section {
  position: relative;
  padding-top: 6.6666667vw;
}
.main-section__bg {
  z-index: -2;
}
.main-section__bg-shadow {
  z-index: -1;
  background: linear-gradient(180deg, rgba(22, 26, 30, 0.75) 0%, rgba(22, 26, 30, 0.2925) 36.3%);
}
.main-section__bg, .main-section__bg-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 47.447916667vw;
}

.active {
  display: block !important;
  opacity: 1 !important;
  pointer-events: auto;
}

.mb-6 {
  margin-bottom: 0.3125vw;
}

.mr-4 {
  margin-right: 0.208333333vw;
}

.mr-6 {
  margin-right: 0.3125vw;
}

.mr-10 {
  margin-right: 0.520833333vw;
}

.flex-align-center {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=style.css.map */