$font-stack: Manrope, sans-serif;
$primary-color: #2A2A2A;
$main-section-color: #ffffff;
$text-hover-color: #d91967;

*,
*:before,
*:after {
  outline: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: $primary-color;
  text-decoration: none;
}

body {
  font-family: $font-stack;
  font-size: 0.833333333vw;
  color: $primary-color;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 1.2vw;
    background-color: white;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid #FFFFFF;
    background-color: #E1E6F0;
    border-radius: 6px;
  }
}

h1 {
  font-weight: 400;
  font-size: 3.385416667vw;
  line-height: 4.947916667vw;
}

.page__wrapper {
  min-height: 100%;
  position: relative;
  transition: .3s;
}

//CUSTOM-SCROLLBAR--CUSTOM-SCROLLBAR--CUSTOM-SCROLLBAR--CUSTOM-SCROLLBAR

#scrollbar {
  width: 7.291666666666667vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .scrollbar {
    &__text {
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotateZ(-180deg);
      font-weight: 700;
      font-size: 0.8333333333333333vw;
      line-height: 1.302083333333333vw;
      letter-spacing: 0.1em;
      color: #EFEFEF;
      margin-bottom: 1.979166666666667vw;
    }

    &__line {
      height: 25.41666666666667vw;
      border-left: 0.0520833333333333vw solid #EFEFEF;
      margin-bottom: 1.979166666666667vw;
    }

    &__thumb {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0.456667vw;
        left: 0.362vw;
        width: 0.2036458333333333vw;
        height: 0.2036458333333333vw;
        border: 0.0520833333333333vw solid #FD2016;
        border-radius: 50%;
        animation: scrollbar_mouse 1s linear infinite;
      }
      img {
        width: 0.9567708333333333vw;
        height: 1.666666666666667vw;
      }
    }
  }
}

//HEADER--HEADER--HEADER--HEADER--HEADER--HEADER--HEADER--HEADER
.header {
  transition: .3s;
}

.header__wrapper {
  margin:0 7.1875vw;

  @media only screen and (max-width: 425px) {
    width: 84vw;
    margin: 0 6.875vw;
    background-color: transparent;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 1.1458vw 0;
  border-bottom: 0.052083333vw solid rgba(42, 42, 42, 0.15);
  background-color: #fff;
  
  @media only screen and (max-width: 425px) {
    justify-content: flex-end;
    align-items: center;
    border-bottom: none;
    background-color: transparent;  
    padding-top: 3.75vw;
    margin-bottom: 11.5625vw;
  }

  &__description,
  &__logo,
  &__adresse,
  &__watch-on-map,
  &__calculator,
  &__social-links,
  &__contacts {
    display: flex;
    align-items: center;
  }

  &__adresse,
  &__watch-on-map,
  &__calculator,
  &__social-links {
    align-items: center;
  }

  &__logo {
    width: 11.09375vw;
    height: 2.604166667vw;
    margin-right: 1.197916667vw;

    @media (max-width: 425px) {
      margin-right: auto;
      width: 28.75vw;
      height: 6.875vw;

    }

    img {
      width: 100%;
      height: 100%;
      
    }
  }

  &__description {
    max-width: 7.395vw;
    font-weight: 400;
    font-size: 0.572916667vw;
    line-height: 1.041666667vw;
    letter-spacing: 0.02em;
    text-align: left;
    margin-right: 2.96875vw;
  }

  &__adresse {
    font-weight: 400;
    font-size: 0.572916667vw;
    line-height: 0.9375vw;
    margin-right: 2.96875vw;

    &-icon {
      width: 1.822916667vw;
      height: 1.822916667vw;
      margin-right: 0.520833333vw;


      img {
        width: 100%;
        height: 100%;
      }
    }

    &-text {
      max-width: 8.177vw;
      text-align: left;
    }
  }

  &__watch-on-map {
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.572916667vw;
    line-height: 0.88125vw;
    letter-spacing: 0.05em;
    margin-right: 2.96875vw;

    &-icon {
      img {
        width: 0.625vw;
        height: 0.78125vw;
        margin-right: 0.520833333vw;
      }
    }

    .map-modal {
      display: none;
      position: absolute;
      width: 26.041666667vw;
      height: 20.833333333vw;
      background-color: #fff;
      box-shadow: 0.15625vw 0 0.677083333vw rgb(211 211 211 / 11%);
      top: 68%;
      left: -112%;
      transition: all 0.4s;
      z-index: 57;
    }

    &-icon {
      transform: translateY(0.208333333vw);
    }

    &-text {
      display: block;
      position: relative;
      max-width: 6.25vw;
      text-align: left;
    }
  }

  &__calculator {
    cursor: pointer;
    position: relative;
    font-weight: 700;
    font-size: 0.572916667vw;
    line-height: 0.989583333vw;
    letter-spacing: 0.05em;
    margin-right: 2.96875vw;
    
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.822916667vw;
      height: 1.822916667vw;
      background: #F8F8F8;
      border-radius: 26.041666667vw;
      margin-right: 0.520833333vw;

      img {
        width: 0.78125vw;
        height: 0.78125vw;
      }
    }

    &-text {
      transform: translateY(-0.104166667vw);
      &:hover {
        .bottom-dots-actions::after {
          width: 60%;
        }
      }

      max-width: 7.656vw;
      text-align: left;

      p {
        position: relative;
      }

      p:last-child {
        width: fit-content;
      }
    }
  }

  &__social-links {
    font-weight: 400;
    font-size: 0.572916667vw;
    line-height: 0.9375vw;
    letter-spacing: 0.03em;
    margin-right: 2.96875vw;

    &-text {
      max-width: 5.52vw;
      text-align: left;
      margin-right: 0.9375vw;
    }

    &-messagers {
      display: flex;
    }

    &-whatsup,
    &-telegram,
    &-viber {
      width: 1.822916667vw;
      height: 1.822916667vw;
      display: flex;
      align-items:center;
      justify-content: center;
      border-radius: 26.0416666667vw;

      img {
        width: 44%;
        height: 44%;
      }
    }

    &-whatsup {
      background: #20C863;
      margin-right: 0.3125vw;
    }
    &-telegram {
      background: #2FB3F3;
      margin-right: 0.3125vw;
    }
    &-viber {
      background: #776EE9;
    }
  }

  &__contacts {
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: 425px) {
        margin-right: 8vw;
      }

    &-work-hours {
      font-weight: 400;
      font-size: 0.625vw;
      line-height: 0.520833333vw;
      letter-spacing: 0.02em;
      margin-bottom: 0.3125vw;


      @media only screen and (max-width: 425px) {
        font-size: 1.875vw;
        line-height: 3.125vw;
        color: #ffffff;
        margin-bottom: 1.3125vw;
      }
    }

    &-telephone-for-call {
      cursor: pointer;
      display: flex;
      align-items:center;
      font-weight: 700;
      font-size: 1.041666667vw;
      line-height: 1.261vw;
      margin-bottom: 0.3125vw;

      p {
        margin-right: 0.3125vw;
      }

      @media only screen and (max-width: 425px) {
        font-size: 3.75vw;
        line-height: 3.125vw;
        color: #ffffff;
        margin-bottom: 1.3125vw;
      }

      img {
        width: 0.46875vw;
        height: 0.260416667vw;
      }

      &:hover {
        color: $text-hover-color;
      }
    }

    &-call-request {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items:center;
      font-weight: 400;
      font-size: 0.625vw;
      line-height: 0.720833333vw;
      letter-spacing: 0.05em;

      @media only screen and (max-width: 425px) {
        font-size:1.875vw;
        line-height: 3.5625vw;
        color: #ffffff;
      }

      p {
        margin-right: 0.3125vw;
      }

      img {
        width: 0.3125vw;
        height: 0.3125vw;

        @media only screen and (max-width: 425px) {
          width: 1.875vw;
          height: 1.875vw;
        }
      }
    }
  }

  &__burger {
    cursor: pointer;
  }

  .bottom-dots-actions {
    &::after {
      content: "";
      width: 100%;
      height: 0;
      border-bottom: 0.104166667vw dotted #FD2016;
      transition: .3s;
      -webkit-transition: .3s;
      position: absolute;
      left: 0;
      bottom: -0.1vw;
    }

    &:hover::after {
      width: 60%;
    }
  }
}

.header-nav, .header-nav-mobile {
  height: 3.3333333vw;
  display: flex;
  justify-content: space-between;
  align-items:center;

  .nav-item {
    font-weight: 600;
    font-size: 0.625vw;
    line-height: 0.833333333vw;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    transition: .3s;
    color: $primary-color;
    &:hover {
      color: $text-hover-color;
    }
  }

  .nav-sub-item {
    font-weight: 400;
    font-size: 3.75vw;
    line-height: 7.8125vw;
    transition: .3s;
    color: #929292;
    &:hover {
      color: $text-hover-color;
    }
  }
}

//MAIN_SECTION--MAIN_SECTION--MAIN_SECTION--MAIN_SECTION--MAIN_SECTION
.main-section {
  position: relative;
  padding-top: 6.6666667vw;

  @media only screen and (max-width: 425px) {
    margin-top: 18vw;
  }

  &__bg {
    z-index: -2;
  }

  &__bg-shadow {
    z-index: -1;
    background: linear-gradient(180deg, rgba(22, 26, 30, 0.75) 0%, rgba(22, 26, 30, 0.2925) 36.3%);
  }

  &__bg, 
  &__bg-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 47.447916667vw;
  }

  &__bg-shadow {
    @media only screen and (max-width: 425px) {
      height: 159.6875vw;
      top: -28.875vw;
    } 
  }

  &__bg {
    @media only screen and (max-width: 425px) {
      top: -28.875vw;
      left: -118vw;
      height: 159.6875vw;
      width: auto;
    }
  }

  &__wrapper {
    margin-left: 5.989583333vw;
    margin-right: 7.395833333vw;

    @media only screen and (max-width: 425px) {
      margin: 0 6.875vw;
      padding-left: 0vw;
      padding-right: 0vw;
    }
  }

  .top-content {
    margin-bottom: 1.7333333vw;

    @media (max-width: 425px) {
      margin-bottom: 9.4125vw;
    }

    .content-title {
      max-height: 14.114583333vw;
      max-width: 52.65625vw;
      letter-spacing: 0.02em;
      color: $main-section-color;
      margin-bottom: 2.34375vw;

      @media only screen and (max-width: 425px) {
        max-height: 43.4375vw;
        max-width: 86.25vw;
        font-size: 6.25vw;
        line-height: 9.0625vw;
        margin-bottom: 8.75vw;
      }
    }

    .content-description {
      font-weight: 400;
      font-size: 1.40625vw;
      line-height: 2.34375vw;
      letter-spacing: 0.02em;
      color: $main-section-color;
      margin-bottom: 2.34375vw;

      @media only screen and (max-width: 425px) {
        max-width: 80.9375vw;
        font-size: 3.75vw;
        line-height:5.625vw;
        margin-bottom: 9.0625vw;
      }
    }

    .btns-container {
      display: flex;

      @media only screen and (max-width: 425px) {
        flex-direction: column;
      }
    }

    .btn-calculator {
      position: relative;
      align-items:center;
      background-color: #FD2016;
      color: $main-section-color;
      margin-right: 1.145833333vw;
      margin-bottom: 4.6875vw;

      @media only screen and (max-width: 425px) {
        margin-right: 0;
      }

      &:hover {
        background-color: #ff0000a1;
        img {
          transform: rotateZ(45deg);
        }
      }

      span {
        width: 13.28125vw;
        text-align: center;
        
        @media (max-width: 425px) {
          width: 78.4375vw;
        }
      }

      img {
        width: 1.145833333vw;
        height: 1.145833333vw;
        transition: .5s;
      }

      .whatsup-green-icon {
        margin-right: 0.625vw;
      }
    }

    .whatsup__mobile {
      color: #20C863;
    }

    .btn-transparent {
      position: relative;
      align-items:center;
      background: rgba(0, 0, 0, 0.45);
      border: 0.052083333vw solid #FFFFFF;
      color: $main-section-color;
      transition: .5s;

      &:hover {
        background: rgba(0, 0, 0, 0.9);
        img {
          transform: rotateZ(360deg);
        }
      }

      img {
        width: 1.5625vw;
        height: 1.5625vw;
        transition: .5s; 
      }

      .wthatsup-mobile-only {
        @media (max-width: 425px) {
          color: #20C863;
        }
      }
    }
  }

  .bullets-content {
    .flex-container {
      display: flex;

      @media (max-width: 425px) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .bullets-item {
      min-width: 7.395833333vw;
      max-width: 20vw;
      height: 7.96875vw;
      display: flex;
      box-sizing: content-box;
      flex-direction: column;
      font-weight: 400;
      font-size: .8333333333vw;
      line-height: 1.3541666667vw;
      color: $main-section-color;
      flex-basis: 47%;

      @media (max-width: 425px) {
        padding-top: 4.6875vw;
        min-width: 26.875vw;
        max-width: 44.6875vw;
        font-size: 3.125vw;
        line-height: 4.6875vw;
        color: #282828;
        height: unset;
      }

      &:not(:last-of-type) {
        padding-right: 4.947916667vw;
        border-right: 0.052083333vw solid rgba(255, 255, 255, 0.25);
        
        @media (max-width: 425px) {
          padding-right: 0;
          border-right: none;
        }
      }

      &:not(:first-of-type) {
        padding-left: 4.947916667vw;

        @media (max-width: 425px) {
          padding-left: 0;
        }
      }

      img {
        margin-bottom: 1.010416667vw;
        width: 0.6875vw;
        height: 0.5vw;

        @media (max-width: 425px) {
          width: 4.125vw;
          height: 3vw;
        }
      }
    }
  }
} 

//POPUP--POPUP--POPUP--POPUP
.popup {
  pointer-events: none;
  z-index: 10000;
  overflow-x: hidden;
  overflow-y: overlay;
  padding-top: 2.6041666667vw;
  padding-bottom: 2.6041666667vw;
  display: flex;
  align-items: center;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &::-webkit-scrollbar {
      width: 11px;
      background-color: transparent;
    }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-color: transparent;
    border-radius: 6px;
  }

  &__blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .7;
    z-index: 1;
    transition: .3s;
  }

  &__container {
    margin: auto;
    z-index: 2;
  }

  &__block {
    width: 26.0416666667vw;
    overflow: hidden;
    position: relative;
    background-color: #202421;
    display: flex;
    align-items: stretch;
  }

  &__content {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 2.6041666667vw;
  }

  .content-title {
    font-size: 1.25vw;
    line-height: 1.8229166667vw;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.8229166667vw;
  }
  
  .content-text {
    font-size: .9375vw;
    line-height: 1.4583333333vw;
    text-align: center;
    margin-bottom: 1.8229166667vw;
  }

  .standart-btn {
    position: relative;
    width: 100%;
    display: flex;
    align-items:center;
    border: unset;
    background-color: #FD2016;
    font-size: 0.833333333vw;
    line-height: 1.25vw;
    color: white;
    margin-bottom: 1.302083333vw;
  }

  &__close {
    position: absolute;
    top: 1.8229166667vw;
    right: 1.8229166667vw;
    width: 1.0416666667vw;
    height: 1.0416666667vw;
    cursor: pointer;
    z-index: 10;

    img {
      width: 100%;
    }
  }
}



//Открытие бургера -изменение стилей на мобильном устройстве (open-burger = true)
.open-burger {

  background-color:white;
  .header-top__contacts-work-hours,
  .header-top__contacts-telephone-for-call,
  .header-top__contacts-call-request {
    color: $primary-color !important;
  }

  .main-section {
    display: none !important;
  }

  .header-top {
    padding-bottom: 0;
  }

  .header-nav {
    flex-direction: column;
    align-items: flex-start;

    @media only screen and (max-width: 425px) {
      margin-top: 22vw;
    }
  }

  .nav-item {
    font-size: 5vw;
    line-height: 11.875vw;
  }

}

// Доп классы для повторяющихся задач (библиотека проекта)
.header-fixed {
  padding-right: 6.875vw;
  padding-left: 6.875vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.desktop-only {
  @media only screen and (max-width: 425px) {
    display: none !important;
  }
}

.mobile-only {
  @media only screen and (min-width: 425px) {
    display: none !important;
  }
}

.form-input {
  width: 100%;
  height: 5.2083333333vw;
  border-radius: 26.0416666667vw;
  background: #f9f9f9;
  border: 0;
  color: #1c1c1c;
  line-height: 1.3020833333vw;
  padding: 0 2.6041666667vw;
  font-size: .8333333333vw;
  letter-spacing: .04em;
  text-transform: uppercase;
  margin-top: 0.833333vw;
  margin-bottom: 0.83333vw;
}

.checkbox-icon {
  width: 1.25vw;
  height: 1.25vw;
  margin-right: 0.5208333333vw;
  flex-shrink: 0;
  border: 0.0520833333vw solid #FD2016;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2604166667vw;
  cursor: pointer;
  position: relative;

  img {
    width: 0.5208333333vw;
    height: 0.4166666667vw;
    opacity: 0;
    transform: translateX(.854167vw);
    transition: .3s;
  }
}

.checked {
  background-color: #FD2016;

  img {
    opacity: 1 !important;
  }
}

.politika {
  color:#FD2016;
}

.form-btn {
  margin: 0;
  width: 100% !important;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 0.816326531vw;
  line-height: 1.25vw;
  border-radius: 26.0416666667vw;
  transition: .5s;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;

}

.standart-btn {
  cursor: pointer;
  width: 20.833333333vw;
  height: 5.208333333vw;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 0.816326531vw;
  line-height: 1.25vw;
  border-radius: 26.0416666667vw;
  transition: .5s;
  overflow: hidden;
  text-decoration: none;

  @media only screen and (max-width: 425px) {
    width: 86.25vw;
    height: 18.75vw;
    font-size: 3.125vw;
    line-height: 4.6875vw;
  }

  &::after {
    content: "";
    width: 5.9895833333vw;
    height: 7.2916666667vw;
    position: absolute;
    left: 0;
    background-image: url(img/btn-blick.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    animation: btn_blick 5s linear infinite;
    transition: .5s;
  }
}
.open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.close {
  opacity: 0;
}

.hidden {
  display: none !important;
}

.active {
  display: block !important;
  pointer-events: auto;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
}

//Динамические пресеты

@keyframes btn_blick {
  0% {
    left: -50%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 150%;
  }
}

@keyframes scrollbar_mouse {
  0% {
    top: 0.456667vw; 
  }
  50% {
    top: 0.656667vw;
  }

  100% {
    top: 0.456667vw; 
  }
}


