*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #2A2A2A;
  text-decoration: none;
}

body {
  font-family: Manrope, sans-serif;
  font-size: 0.833333333vw;
  color: #2A2A2A;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  font-weight: 400;
  font-size: 3.385416667vw;
  line-height: 4.947916667vw;
}

.page__wrapper {
  min-height: 100%;
  position: relative;
  transition: 0.3s;
}

#scrollbar {
  width: 7.2916666667vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#scrollbar .scrollbar__text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotateZ(-180deg);
  font-weight: 700;
  font-size: 0.8333333333vw;
  line-height: 1.3020833333vw;
  letter-spacing: 0.1em;
  color: #EFEFEF;
  margin-bottom: 1.9791666667vw;
}
#scrollbar .scrollbar__line {
  height: 25.4166666667vw;
  border-left: 0.0520833333vw solid #EFEFEF;
  margin-bottom: 1.9791666667vw;
}
#scrollbar .scrollbar__thumb {
  position: relative;
}
#scrollbar .scrollbar__thumb::after {
  content: "";
  position: absolute;
  top: 0.456667vw;
  left: 0.362vw;
  width: 0.2036458333vw;
  height: 0.2036458333vw;
  border: 0.0520833333vw solid #FD2016;
  border-radius: 50%;
  animation: scrollbar_mouse 1s linear infinite;
}
#scrollbar .scrollbar__thumb img {
  width: 0.9567708333vw;
  height: 1.6666666667vw;
}

.header {
  transition: 0.3;
}

.header__wrapper {
  margin: 0 7.1875vw;
}
@media only screen and (max-width: 320px) {
  .header__wrapper {
    width: 84vw;
    margin: 0 6.875vw;
    background-color: transparent;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 1.1458vw 0;
  border-bottom: 0.052083333vw solid rgba(42, 42, 42, 0.15);
  background-color: #fff;
}
@media only screen and (max-width: 320px) {
  .header-top {
    justify-content: flex-end;
    align-items: center;
    border-bottom: none;
    background-color: transparent;
    padding-top: 3.75vw;
    margin-bottom: 11.5625vw;
  }
}
.header-top__description, .header-top__logo, .header-top__adresse, .header-top__watch-on-map, .header-top__calculator, .header-top__social-links, .header-top__contacts {
  display: flex;
  align-items: center;
}
.header-top__adresse, .header-top__watch-on-map, .header-top__calculator, .header-top__social-links {
  align-items: center;
}
.header-top__logo {
  width: 11.09375vw;
  height: 2.604166667vw;
  margin-right: 1.197916667vw;
}
@media (max-width: 320px) {
  .header-top__logo {
    margin-right: auto;
    width: 28.75vw;
    height: 6.875vw;
  }
}
.header-top__logo img {
  width: 100%;
  height: 100%;
}
.header-top__description {
  max-width: 7.395vw;
  font-weight: 400;
  font-size: 0.572916667vw;
  line-height: 1.041666667vw;
  letter-spacing: 0.02em;
  text-align: left;
  margin-right: 2.96875vw;
}
.header-top__adresse {
  font-weight: 400;
  font-size: 0.572916667vw;
  line-height: 0.9375vw;
  margin-right: 2.96875vw;
}
.header-top__adresse-icon {
  width: 1.822916667vw;
  height: 1.822916667vw;
  margin-right: 0.520833333vw;
}
.header-top__adresse-icon img {
  width: 100%;
  height: 100%;
}
.header-top__adresse-text {
  max-width: 8.177vw;
  text-align: left;
}
.header-top__watch-on-map {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.572916667vw;
  line-height: 0.88125vw;
  letter-spacing: 0.05em;
  margin-right: 2.96875vw;
}
.header-top__watch-on-map-icon img {
  width: 0.625vw;
  height: 0.78125vw;
  margin-right: 0.520833333vw;
}
.header-top__watch-on-map .map-modal {
  display: none;
  position: absolute;
  width: 26.041666667vw;
  height: 20.833333333vw;
  background-color: #fff;
  box-shadow: 0.15625vw 0 0.677083333vw rgba(211, 211, 211, 0.11);
  top: 68%;
  left: -112%;
  transition: all 0.4s;
  z-index: 57;
}
.header-top__watch-on-map-icon {
  transform: translateY(0.208333333vw);
}
.header-top__watch-on-map-text {
  display: block;
  position: relative;
  max-width: 6.25vw;
  text-align: left;
}
.header-top__calculator {
  cursor: pointer;
  position: relative;
  font-weight: 700;
  font-size: 0.572916667vw;
  line-height: 0.989583333vw;
  letter-spacing: 0.05em;
  margin-right: 2.96875vw;
}
.header-top__calculator-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.822916667vw;
  height: 1.822916667vw;
  background: #F8F8F8;
  border-radius: 26.041666667vw;
  margin-right: 0.520833333vw;
}
.header-top__calculator-icon img {
  width: 0.78125vw;
  height: 0.78125vw;
}
.header-top__calculator-text {
  transform: translateY(-0.104166667vw);
  max-width: 7.656vw;
  text-align: left;
}
.header-top__calculator-text:hover .bottom-dots-actions::after {
  width: 60%;
}
.header-top__calculator-text p {
  position: relative;
}
.header-top__calculator-text p:last-child {
  width: -moz-fit-content;
  width: fit-content;
}
.header-top__social-links {
  font-weight: 400;
  font-size: 0.572916667vw;
  line-height: 0.9375vw;
  letter-spacing: 0.03em;
  margin-right: 2.96875vw;
}
.header-top__social-links-text {
  max-width: 5.52vw;
  text-align: left;
  margin-right: 0.9375vw;
}
.header-top__social-links-messagers {
  display: flex;
}
.header-top__social-links-whatsup, .header-top__social-links-telegram, .header-top__social-links-viber {
  width: 1.822916667vw;
  height: 1.822916667vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26.0416666667vw;
}
.header-top__social-links-whatsup img, .header-top__social-links-telegram img, .header-top__social-links-viber img {
  width: 44%;
  height: 44%;
}
.header-top__social-links-whatsup {
  background: #20C863;
  margin-right: 0.3125vw;
}
.header-top__social-links-telegram {
  background: #2FB3F3;
  margin-right: 0.3125vw;
}
.header-top__social-links-viber {
  background: #776EE9;
}
.header-top__contacts {
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 320px) {
  .header-top__contacts {
    margin-right: 8vw;
  }
}
.header-top__contacts-work-hours {
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.520833333vw;
  letter-spacing: 0.02em;
  margin-bottom: 0.3125vw;
}
@media only screen and (max-width: 320px) {
  .header-top__contacts-work-hours {
    font-size: 1.875vw;
    line-height: 3.125vw;
    color: #ffffff;
    margin-bottom: 1.3125vw;
  }
}
.header-top__contacts-telephone-for-call {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.041666667vw;
  line-height: 1.261vw;
  transition: 0.3s;
  margin-bottom: 0.3125vw;
}
.header-top__contacts-telephone-for-call p {
  margin-right: 0.3125vw;
}
@media only screen and (max-width: 320px) {
  .header-top__contacts-telephone-for-call {
    font-size: 3.75vw;
    line-height: 3.125vw;
    color: #ffffff;
    margin-bottom: 1.3125vw;
  }
}
.header-top__contacts-telephone-for-call img {
  width: 0.46875vw;
  height: 0.260416667vw;
}
.header-top__contacts-telephone-for-call:hover {
  color: #d91967;
}
.header-top__contacts-call-request {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.720833333vw;
  letter-spacing: 0.05em;
}
@media only screen and (max-width: 320px) {
  .header-top__contacts-call-request {
    font-size: 1.875vw;
    line-height: 3.5625vw;
    color: #ffffff;
  }
}
.header-top__contacts-call-request p {
  margin-right: 0.3125vw;
}
.header-top__contacts-call-request img {
  width: 0.3125vw;
  height: 0.3125vw;
}
@media only screen and (max-width: 320px) {
  .header-top__contacts-call-request img {
    width: 1.875vw;
    height: 1.875vw;
  }
}
.header-top .bottom-dots-actions::after {
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 0.104166667vw dotted #FD2016;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  position: absolute;
  left: 0;
  bottom: -0.1vw;
}
.header-top .bottom-dots-actions:hover::after {
  width: 60%;
}

.header-nav {
  height: 3.3333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav .nav-item {
  font-weight: 600;
  font-size: 0.625vw;
  line-height: 0.833333333vw;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  transition: 0.3s;
  color: #2A2A2A;
}
.header-nav .nav-item:hover {
  color: #d91967;
}

.main-section {
  position: relative;
  padding-top: 6.6666667vw;
}
.main-section__bg {
  z-index: -2;
}
.main-section__bg-shadow {
  z-index: -1;
  background: linear-gradient(180deg, rgba(22, 26, 30, 0.75) 0%, rgba(22, 26, 30, 0.2925) 36.3%);
}
.main-section__bg, .main-section__bg-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 47.447916667vw;
}
@media only screen and (max-width: 320px) {
  .main-section__bg-shadow {
    height: 159.6875vw;
    top: -28.875vw;
  }
}
@media only screen and (max-width: 320px) {
  .main-section__bg {
    top: -28.875vw;
    left: -118vw;
    height: 159.6875vw;
    width: auto;
  }
}
.main-section__wrapper {
  margin-left: 5.989583333vw;
  margin-right: 7.395833333vw;
}
@media only screen and (max-width: 320px) {
  .main-section__wrapper {
    margin: 0 6.875vw;
    padding-left: 0vw;
    padding-right: 0vw;
  }
}
.main-section .top-content {
  margin-bottom: 6.458333333vw;
}
@media (max-width: 320px) {
  .main-section .top-content {
    margin-bottom: 9.4125vw;
  }
}
.main-section .top-content .content-title {
  max-height: 14.114583333vw;
  max-width: 52.65625vw;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 2.34375vw;
}
@media only screen and (max-width: 320px) {
  .main-section .top-content .content-title {
    max-height: 43.4375vw;
    max-width: 86.25vw;
    font-size: 6.25vw;
    line-height: 9.0625vw;
    margin-bottom: 8.75vw;
  }
}
.main-section .top-content .content-description {
  font-weight: 400;
  font-size: 1.40625vw;
  line-height: 2.34375vw;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 2.34375vw;
}
@media only screen and (max-width: 320px) {
  .main-section .top-content .content-description {
    max-width: 80.9375vw;
    font-size: 3.75vw;
    line-height: 5.625vw;
    margin-bottom: 9.0625vw;
  }
}
.main-section .top-content .btns-container {
  display: flex;
}
@media only screen and (max-width: 320px) {
  .main-section .top-content .btns-container {
    flex-direction: column;
  }
}
.main-section .top-content .btn-calculator {
  position: relative;
  align-items: center;
  background-color: #FD2016;
  color: #ffffff;
  margin-right: 1.145833333vw;
  margin-right: 0;
  margin-bottom: 4.6875vw;
}
.main-section .top-content .btn-calculator:hover {
  background-color: rgba(255, 0, 0, 0.631372549);
}
.main-section .top-content .btn-calculator:hover img {
  transform: rotateZ(45deg);
}
.main-section .top-content .btn-calculator span {
  width: 13.28125vw;
  text-align: center;
}
@media (max-width: 320px) {
  .main-section .top-content .btn-calculator span {
    width: 78.4375vw;
  }
}
.main-section .top-content .btn-calculator img {
  width: 1.145833333vw;
  height: 1.145833333vw;
  transition: 0.5s;
}
.main-section .top-content .btn-calculator .whatsup-green-icon {
  margin-right: 0.625vw;
}
.main-section .top-content .btn-transparent {
  position: relative;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
  border: 0.052083333vw solid #FFFFFF;
  color: #ffffff;
  transition: 0.5s;
}
.main-section .top-content .btn-transparent:hover {
  background: rgba(0, 0, 0, 0.9);
}
.main-section .top-content .btn-transparent:hover img {
  transform: rotateZ(360deg);
}
.main-section .top-content .btn-transparent img {
  width: 1.5625vw;
  height: 1.5625vw;
  transition: 0.5s;
}
@media (max-width: 320px) {
  .main-section .top-content .btn-transparent .wthatsup-mobile-only {
    color: #20C863;
  }
}
.main-section .bullets-content .flex-container {
  display: flex;
}
@media (max-width: 320px) {
  .main-section .bullets-content .flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.main-section .bullets-content .bullets-item {
  min-width: 7.395833333vw;
  max-width: 20vw;
  height: 7.96875vw;
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  font-weight: 400;
  font-size: 0.8333333333vw;
  line-height: 1.3541666667vw;
  color: #ffffff;
  flex-basis: 47%;
}
@media (max-width: 320px) {
  .main-section .bullets-content .bullets-item {
    padding-top: 4.6875vw;
    min-width: 26.875vw;
    max-width: 44.6875vw;
    font-size: 3.125vw;
    line-height: 4.6875vw;
    color: #282828;
    height: unset;
  }
}
.main-section .bullets-content .bullets-item:not(:last-of-type) {
  padding-right: 4.947916667vw;
  border-right: 0.052083333vw solid rgba(255, 255, 255, 0.25);
}
@media (max-width: 320px) {
  .main-section .bullets-content .bullets-item:not(:last-of-type) {
    padding-right: 0;
    border-right: none;
  }
}
.main-section .bullets-content .bullets-item:not(:first-of-type) {
  padding-left: 4.947916667vw;
}
@media (max-width: 320px) {
  .main-section .bullets-content .bullets-item:not(:first-of-type) {
    padding-left: 0;
  }
}
.main-section .bullets-content .bullets-item img {
  margin-bottom: 1.010416667vw;
  width: 0.6875vw;
  height: 0.5vw;
}
@media (max-width: 320px) {
  .main-section .bullets-content .bullets-item img {
    width: 4.125vw;
    height: 3vw;
  }
}

.open-burger {
  background-color: white;
}
.open-burger .header-top__contacts-work-hours,
.open-burger .header-top__contacts-telephone-for-call,
.open-burger .header-top__contacts-call-request {
  color: #2A2A2A !important;
}
.open-burger .main-section {
  display: none !important;
}
.open-burger .header-top {
  padding-bottom: 0;
}
.open-burger .header-nav {
  flex-direction: column;
  align-items: flex-start;
}
.open-burger .nav-item {
  font-size: 5vw;
  line-height: 6.875vw;
}

.header-fixed {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

@media only screen and (max-width: 320px) {
  .desktop-only {
    display: none !important;
  }
}

@media only screen and (min-width: 320px) {
  .mobile-only {
    display: none !important;
  }
}

.standart-btn {
  cursor: pointer;
  width: 20.833333333vw;
  height: 5.208333333vw;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 0.816326531vw;
  line-height: 1.25vw;
  border-radius: 26.0416666667vw;
  transition: 0.5s;
  overflow: hidden;
  text-decoration: none;
}
@media only screen and (max-width: 320px) {
  .standart-btn {
    width: 86.25vw;
    height: 18.75vw;
    font-size: 3.125vw;
    line-height: 4.6875vw;
  }
}
.standart-btn::after {
  content: "";
  width: 5.9895833333vw;
  height: 7.2916666667vw;
  position: absolute;
  left: 0;
  background-image: url(img/btn-blick.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  animation: btn_blick 5s linear infinite;
  transition: 0.5s;
}

.active {
  display: block !important;
  pointer-events: auto;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
}

@keyframes btn_blick {
  0% {
    left: -50%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 150%;
  }
}
@keyframes scrollbar_mouse {
  0% {
    top: 0.456667vw;
  }
  50% {
    top: 0.656667vw;
  }
  100% {
    top: 0.456667vw;
  }
}/*# sourceMappingURL=style.css.map */